.header{
    padding-right: 200px;
    background-color: rgb(239, 187, 208);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    
    
}

.header a{
    margin-right: 40px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    

    
    
  
}
.active{

    color: blue;
}
.header-details{
    padding-left: 130px;
}
.navber-details{
    
}